<h3>Greetings {{= it.email }}</h3>
<p>
    Have you lost your password?

    If this was not you, please contact us as soon as possible.

    Click this link to get Your new password: {{= it.newPasswordLink }}

    The new password will be sent to Your email.
</p>